.main{
	width: 450px;
	height: 600px;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgb(145, 143, 143);
    position: relative;
    left: 800px;
    top: 0px;
	margin-top: 30px;
	margin-bottom: 10px;
}
#chk{
	display: none;
}

.form-label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.sign-form input{
		color: rgba(28,9,80,.5);
		background: #f3f2f6;
		border: 3px solid #f3f2f6;
		font-size: 16px;
		font-weight: 300;
		line-height: 40px;
		padding: 10 0 0 20px;
		width: 20%;
		border-radius: 25px;
		box-sizing: border-box;
		-webkit-appearance: none;
		width: 390px;
		text-align: center;
}

.login-btn{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
    background-image: linear-gradient(45deg, #05033e 0%, #21479a 100%);
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.login-btn:hover{
    background-image: linear-gradient(45deg, #05033e 0%, #4770c9 100%);
}
.login{
	height: 460px;
    background-image: linear-gradient(45deg, #05033e 0%, #4770c9 100%);
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: white;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

.login-page-btn {
  color: #fff;
  padding: 12px 24px;
  background-image: linear-gradient(45deg, #05033e 0%, #4770c9 100%);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: .4s;
  cursor: pointer;
  margin-bottom: 10px;
  width: 175px;
  height: 50px;
  position: relative;
  top: 150px;
  left: 30px;
}

.login input {
	color: rgba(28,9,80,.5);
	background: #f3f2f6;
	border: 3px solid #f3f2f6;
	font-size: 16px;
	font-weight: 300;
	line-height: 40px;
	padding: 10 0 0 20px;
	width: 20%;
	border-radius: 25px;
	box-sizing: border-box;
	-webkit-appearance: none;
	width: 390px;
	text-align: center;
}

