.img-container img {
  width: 1080px;
  position: relative;
  left: 450px;
  padding-top: 20px;
}

.info-container {
  position: relative;
  left: 550px;
  width: 700px;
  height: 70px;
  font-size: larger;
}

.description-container {
  width: 1080px;
  height: 150px;
  position: relative;
  top: 140px;
  left: 480px;
  font-size: larger;
}

.details-container {
  position: relative;
  left: 300px;
  width: 300px;
}

.display-container ul{
  margin-right: 30px;
  display: flex;
}

.horizontal-list {
  margin-right: 30px;
  display: flex;
}

.horizontal-list li{
  margin-right: 30px;
  display: flex;
}


.main-cnt {
  background-color: rgb(251, 251, 251);
  height: 1200px;
}


.review-container input {
  position: relative;
  right: 20px;
  top: 10px;
}


.price {
  position: relative;
  left: 350px;
}

.address {
  position: relative;
  left: 50px;
}

.review-btn {
  position: relative;
  left: 1300px;
  bottom: 120px; 
}


.button-15 {
  background-image: linear-gradient(#15086c, #1f0bb6);
  border: 1px solid #060775;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: .3;
}

.button-15:hover {
  background-image: linear-gradient(#15086c, #1f0bb6);
  /* border-color: #1482D0; */
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#15086c, #1f0bb6);
  /* border-color: #006DBC; */
  outline: none;
}
