<div id="<%= dom_id agent %>">
  <p>
    <strong>Username:</strong>
    <%= agent.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= agent.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= agent.password %>
  </p>

</div>
